streamlit
pandas
numpy
pillow
requests

scikit-learn
xgboost
lightgbm

torch --index-url https://download.pytorch.org/whl/cpu
torchvision

transformers
sentencepiece

opencv-python-headless

plotly
matplotlib
seaborn
